body{
height: 100%;

}


.container{
max-width: 350px;


}


#cards{
    margin: 2px 0 2px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;

}



#itemCard{
    display: flex;
    align-items: center;


}


#infoCard {
    flex: 1;
}  

#infoCard:first-child {
    width: 150px;
} 

#optionsCard{ width: 40px;}

#optionsCard .btn{
    width: 50px;
    text-align: center;

}

#transactions-list{
max-height: 200px ; 
-ms-overflow-style: none; /* for Internet Explorer, Edge */
scrollbar-width: none; /* for Firefox */
overflow-y: scroll;

}


#transactions-list::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }

#positive{

    border-right: 10px solid rgb(4, 128, 31);

}

#negative{

    border-right: 10px solid rgb(128, 4, 4);

}

button{
margin-top: 2%;

}
h1{font-size: 1.5rem ;}
h2{font-size: larger;}

h3{
    font-size: medium;
    border-bottom: 1px solid rgb(155, 155, 155);
    margin-bottom: 2%;

}

